.activity-act {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.act-box {
	width: 100%;
	height: 370px;
	background-color: #E06941;
	padding: 20px 0px;
  display: flex;
  justify-content: center;
}

.act-left {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.act-left-text {
  width: 100px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F7F3DC;
  color: #262626;
  font-size: 40px;
  text-align: center;
}

.act-left-line {
  width: 10px;
  height: 300px;
  background-color: white;
}

.act-right {
  width: 70%;
  height: 320px;
  display: flex;
  overflow-y: scroll;
}

.act-item {
	width: 240px;
	height: 180px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position-x: center;
	background-position-y: center;
	border-radius: 8px;
	margin: 0px 10px;
	cursor: pointer;
}

.act-text {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 26px;
	text-align: center;
	color: transparent;
}

.act-text:hover {
	color: #262626;
	background-color:rgba(255, 255, 255, 0.6)
}

/* popup */

.act-popup {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100vw;
	height: 100vh;
	display: none;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.4);
}

.act-popup-box {
	width: 90%;
	height: 86%;
	padding: 10px 40px;
	background-color: #326394;
}

.act-popup-header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}

.act-popup-text-box {

}

.act-popup-text-head {
	font-size: 30px;
}

.act-popup-body-head-2 {
	font-size: 30px;
	margin: 20px 0px 20px 30px;
}

.act-popup-text-sub {
	font-size: 32px;
	margin-top: 10px;
}

.act-popup-close {
	width: 65px;
	height: 65px;
	cursor: pointer;
}

/* body */

.act-popup-body {
	height: 65vh;
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
}

.act-popup-one {
	display: flex;
	justify-content: center;
}

.act-popup-left {
	margin-right: 20px;
}

.act-popup-main-img {
	width: 300px;
	height: auto;
}

.act-popup-left-text {

}

.act-popup-body-head {
	margin: 20px 0px;
	font-size: 26px;
}

.act-popup-right {

}

.act-popup-right-text {

}



.act-popup-two {

}

.act-popup-iframe-box {
	width: 100%;
	height: 400px;
	text-align: center;
}

.act-popup-three {

}