@font-face {
  font-family: 'jfOpen';
  src: url('../font/jfOpen.woff') format("woff"),
    url('../font/jfOpen.ttf') format("truetype"),
    url('../font/jfOpen.otf') format("embedded-opentype");
}

html body{
	font-family: 'Noto Sans TC', 'Noto Sans SC', 'jfOpen' ,sans-serif;
	position: relative;
	min-height: 100vh;
	background-color: #262626;
	margin: 0px;
	padding: 0px;
	color: white;
	border: 0px;
	overflow-x: hidden;
	font-size: 20px;
}

a:hover {
	opacity: 0.8;
}

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track{
	-webkit-border-radius: 10px;
	border-radius: 10px;
	margin:5px 0 5px 0;
}

::-webkit-scrollbar-thumb {
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background-color: white;
}

a {
	text-decoration: none;
	color: white;
}

h1 {
	font-size: 60px;
}

h3 {
	font-size: 30px;
	margin: 0px;
}

h4 {
	font-size: 24px;
	margin: 0px;
	font-weight: 400;
}

img {
	color: transparent;
}

img:not([src]) {
	visibility: hidden;
}

.header-box {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #262626;
}

.header-logo {
	width: 70px;
	height: auto;
	margin: 0px 0px 0px 25px;
	cursor: pointer;
}

.header-logo:hover {
  opacity: 0.8;
}

.header-main-text {
	position: fixed;
	left: 130px;
	top: 26px;
	font-size: 36px;
}

.header-menu {
	width: 48px;
	height: 48px;
	margin: 0px 25px 0px 0px;
	cursor: pointer;
}

.header-menu:hover {
	opacity: 0.8;
  }

.header-fancy-box {
	display: none;
	position: fixed;
	width: 100%;
	height: 100vh;
	background-color: rgba(38, 38, 38, 0.8);
	z-index: 2;
}

.header-close {
	position: fixed;
	right: 16px;
	top: 19px;
	width: 65px;
	height: 65px;
	cursor: pointer;
	z-index: 2;
}

.header-close:hover {
	opacity: 0.8;
  }

.header-text-box {
	width: 25%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	cursor: pointer;
}

.header-text-box:hover {
	background-color: rgba(255, 255, 255, 0.3);
}

.footer-box {
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 50px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer-text {
	color: #E06941;
	font-size: 16px;
}

@media( max-width: 1023px ){

	html body{
		font-size: 16px;
	}

	a {

	}
	
	h1 {
		font-size: 40px;
	}
	
	h3 {

	}
	
	h4 {

	}
	
	img {

	}
	
	img:not([src]) {

	}
	
	.header-box {
		height: 60px;
	}
	
	.header-logo {
		width: 60px;
	}
	
	.header-main-text {

	}
	
	.header-menu {
		width: 40px;
		height: 40px;
		margin-top: 6px;
	}
	
	.header-fancy-box {
		flex-direction: column;
	}
	
	.header-close {
		right: 12px;
		top: 4px;
	}
	
	.header-text-box {
		width: 100%;
		height: 25%;
	}

	.header-text {
		line-height: 12px;
	}
	
	.footer-box {

	}
	
	.footer-text {
		font-size: 14px;
	}

}
