.contact-us {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.contact-us-box {
	width: 100%;
	height: 63vh;
	display: flex;
	align-items: center;
	background-color: #E06941;
	padding: 20px 0px;
	height: 75vh;
}

.contact-left {
	width: 50%;
	text-align: center;
}

.contact-social {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

.contact-social-icon {
	width: 40px;
	height: 40px;
	margin: 0px 10px 10px;
	cursor: pointer;
}

.contact-social-icon:hover {
	opacity: 0.8;
}

.contact-head {
	margin-bottom: 6px;
}

.contact-rwd-head {
	display: none;
}

.contact-rwd-subhead {
	display: none;
}

.contact-sub {
	font-size: 24px;
	margin-bottom: 30px;
}

.contact-text {
	margin-bottom: 6px;
}

.contact-right {
	width: 40%;
}

.map {

}


@media( max-width: 1023px ){

	.contact-us {

	}
	
	.contact-us-box {
		max-height: 75vh;
		padding: 30px 0px;
    	flex-direction: column;
		overflow-y: scroll;
	}
	
	.contact-left {
		width: calc(100% - 50px);
		display: flex;
    	flex-direction: column;
	}
	
	.contact-social {
		order: 2;
		margin: 8px 0px 0px;
		margin-bottom: 4px;
	}
	
	.contact-social-icon {
		width: 50px;
		height: 50px;
	}
	
	.contact-head {
		display: none;
	}
	
	.contact-rwd-head {
		display: block;
		font-size: 30px;
	}
	
	.contact-rwd-subhead {
		display: block;
		font-size: 30px;
		margin-bottom: 2px;
	}
	
	.contact-sub {
		font-size: 22px;
		margin-bottom: 20px;
	}
	
	.contact-text {
		font-size: 16px;
	}
	
	.contact-right {
		width: calc(100% - 50px);
		margin-top: 4px;
	}
	
	.map {
	
	}

}
