.group-box {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.group-inner-box {
	width: 100%;
	/* height: 370px; */
	height: 63vh;
	background-color: #E06941;
	padding: 20px 0px 0px;
	overflow: scroll;
	z-index: 1;
}

.group-1-img-box {
	width: 100%;
	display: flex;
	justify-content: center;
	margin: 35px 0px 120px;
}

.group-1-img {
	width: auto;
	height: 300px;
	border-radius: 8px;
}

/* 團員們 */

.group-2-box {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	max-width: 1100px;
    margin: 0px auto 0px;
	padding: 0px 20px;
}

.group-2-member-box {
	width: 240px;
	height: auto;
	margin: 0px 12px 80px;
	z-index: 0;
}

.group-2-img {
	width: 240px;
	height: auto;
	border-radius: 8px;
	margin-bottom: 10px;
	filter: grayscale(1);
	z-index: 0;
}

.group-2-img:hover {
	filter: grayscale(0);
}

.group-2-title {
	text-align: center;
}

/* 團員 popup */

.group-popup {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100vw;
	height: 100vh;
	display: none;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 1;
}

.group-popup-inner {
	width: 90%;
	height: 86%;
	padding: 10px 40px;
	background-color: #326394;
}

.group-popup-close-box {
	width: 100%;
	text-align: right;
}

.group-popup-close {
	width: 65px;
	height: 65px;
	cursor: pointer;
}

.group-popup-box {
	height: 65vh;
	display: flex;
	justify-content: center;
	overflow-y: scroll;
}

.group-popup-left {
	width: 282px;
}

.group-popup-img {
	width: 220px;
	margin-bottom: 20px;
}

.group-popup-right {
	margin-left: 60px;
}

.group-popup-head {
	margin-bottom: 30px;
}

.group-popup-content {
	line-height: 27px;
}

.group-popup-experience {
	font-size: 26px;
	margin-bottom: 10px;
}