/* 簡介 1 */

.index-1-box {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.index-1-inner-box {
	width: 100%;
	/* height: 370px; */
	height: 63vh;
	background-color: #E06941;
	padding: 20px 0px;
	overflow-y: scroll;
}

.index-1-inside-box {
	display: flex;
	align-items: center;
	margin: 20px 0px 90px;
}

.index-1-text-box {
	width: 48%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.index-1-text {
	width: 120px;
	margin: 0px 10px;
}

.index-1-img-box {
	width: 44%;
	text-align: center;
}

.index-1-img {
	width: auto;
	height: 330px;
	border-radius: 8px;
}

/* 簡介 2 */

.index-2-inner-box {
	width: 100%;
	display: flex;
	align-items: center;
	background-color: #E06941;
	padding: 10px 0px 10px 30px;
	margin-bottom: 70px;
}

.index-2-img-box {
	width: 46%;
	min-width: 0;
	text-align: center;
	overflow: hidden;
}

.index-2-img {
	max-width: 100%;
	width: auto;
	height: 360px;
	object-fit: contain;
	border-radius: 8px;
}

.index-2-text-box {
	width: 48%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.index-2-text {
	display: flex;
    align-items: center;
	font-size: 20px;
	margin: 0px 10px;
	padding: 4px 8px;
	height: 380px;
	letter-spacing: 2px;
	line-height: 1.3;
}

/* 年表 */

.index-3-inner-box {
	width: 100%;
	display: flex;
	align-items: center;
	background-color: #E06941;
	padding: 20px 0px;
}

.index-3-text-box {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.index-3-head {
	text-align: center;
	margin-bottom: 20px;
}

.index-3-calendar {
	width: 80%;
	height: 300px;
	border-left: 8px solid #F7F3DC;
	padding-left: 40px;
	display: flex;
	overflow: scroll;
}

.index-3-inner-box {

}

.index-3-text {
	display: flex;
	margin-bottom: 16px;
}

.index-3-text-head {
	font-size: 36px;
	margin-right: 20px;
}

.index-3-text-sub {
	font-size: 22px;
	margin-top: 9px;
	letter-spacing: 2px;
	line-height: 1.3;
}

.index-3-text-indent {
	margin-left: 28px;
}

/* 第一行不縮排，換行後自然縮排（依容器寬度自行斷行） */
.index-3-text-hanging {
	padding-left: 28px;
	text-indent: -28px;
}

.index-3-text-line {
	width: 3px;
	height: 30px;
	margin: auto;
	background-color: white;
}

@media( max-width: 1023px ){

	/* 簡介 1 */

	.index-1-box {

	}

	.index-1-inner-box {
		height: 75vh;
		padding-left: 16px;
		padding-right: 16px;
		box-sizing: border-box;
	}

	.index-1-inside-box {
		flex-direction: column;
		margin: 20px 0px 20px;
	}

	.index-1-text-box {
		width: 100%;
		flex-direction: column;
	}

	.index-1-text {
		width: 100%;
	}

	.index-1-img-box {
		width: 100%;
		margin-top: 20px;
	}

	.index-1-img {
		max-width: 100%;
		width: 100%;
		height: auto;
	}

	/* 簡介 2 */

	.index-2-inner-box {
		flex-direction: column-reverse;
		margin-bottom: 20px;
		padding: 0 16px;
		box-sizing: border-box;
	}

	.index-2-img-box {
		width: 100%;
		margin-top: 20px;
	}

	.index-2-img {
		max-width: 100%;
		width: 100%;
		height: auto;
	}

	.index-2-text-box {
		width: 100%;
	}

	.index-2-text {
		height: auto;
		margin: 0px;
		font-size: 16px;
		line-height: 1.5;
		letter-spacing: 1px;
	}

	/* 年表 */

	.index-3-inner-box {
		padding: 0 16px;
		box-sizing: border-box;
	}

	.index-3-text-box {

	}

	.index-3-head {

	}

	.index-3-calendar {
		height: auto;
		overflow: auto;
		border-left: 4px solid #F7F3DC;
		padding-left: 26px;
	}

	.index-3-inner-box {

	}

	.index-3-text {
		flex-direction: column;
	}

	.index-3-text-head {
		font-size: 20px;
		margin-bottom: 2px;
		margin-left: 23px;
	}

	.index-3-text-sub {
		font-size: 16px;
		margin-top: 2px;
		margin-left: 21px;
		text-indent: -22px;
		letter-spacing: 1px;
	}

	.index-3-text-sub div {
		line-height: 1.5;
	}

	.index-3-text-indent {
		margin-left: 0px;
    	text-indent: 0px;
		line-height: 1.5;
		letter-spacing: 1px;
	}

	.index-3-text-hanging {
		padding-left: 20px;
		text-indent: -20px;
	}

	.index-3-text-line {
		height: 15px;
		margin: 0px 0px 0px 23px;
	}

}
